@import "reset.css";

html {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 18px;
  background-color: white;
}

a {
  text-decoration: none;
}

a:link {
  color: #4f4f4f;
}

a:visited {
  color: gray;
}

a:hover {
  color: black;
}

body {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

::selection {
  background-color: #fef574;
}

.external-link::after {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 28 28" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"/></svg>');
  content: "";
  color: "currentColor";
  display: inline-block;
  vertical-align: middle;
  width: 1.2em;
  height: 1.2em;
  background-size: 100%;
  margin-inline-start: 0.3em;
  margin-inline-end: -0.2em;
  opacity: 0.8;
}

button {
  font-size: 16px;
  height: 36px;
  width: 80px;
  align-self: center;
  margin-left: 1rem;
}

#checkboxes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Inter, sans-serif;
  font-size: 50px;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-family: Inter, sans-serif;
  margin: 0;
}

h3 {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

img {
  display: block;
  margin: 0 auto;
}
input {
  line-height: 2em;
  font-size: 16px;
}

.space-between {
  justify-content: space-between;
}

.flex-row-container {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  align-items: center;
}

.button-new-list {
  border: none;
  background-color: unset;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  display: flex;
  width: auto;
  color: #4f4f4f;
  border-radius: 0.5rem;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.button-new-list:hover {
  background-color: #e9e9ed;
}

.button-delete-list {
  width: 24px;
  margin-top: 1px;
  display: none;
  background-color: unset;
  opacity: 0.7;
  height: 24px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20data-name%3D%22Layer%202%22%20viewBox%3D%220%200%2021.13%2024.95%22%3E%3Cg%20transform%3D%22scale(0.7)%20translate(4%2C5)%22%3E%3Cpath%20d%3D%22M.95%204.12h19.24%22%20style%3D%22fill%3A%23444%3Bstroke%3A%23444%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A10%3Bstroke-width%3A1.89px%22/%3E%3Cpath%20d%3D%22M6.05%204.12%207.46.95h6.25l1.37%203.17%22%20style%3D%22stroke%3A%23444%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A10%3Bstroke-width%3A1.89px%3Bfill%3Anone%22/%3E%3Cpath%20d%3D%22M19.2%206.88H1.93c-.29%200-.51.3-.45.62l1.95%2016.85c.06.35.34.6.66.6h12.96c.32%200%20.59-.25.66-.6L19.66%207.5c.06-.32-.16-.62-.45-.62ZM7.14%2022.42a.7.7%200%200%201-.75-.63L5.37%2010.16A.7.7%200%200%201%206%209.41a.7.7%200%200%201%20.75.63l1.02%2011.63a.7.7%200%200%201-.63.75Zm4.12-.67c0%20.38-.31.69-.69.69-.38%200-.69-.31-.69-.69V10.08c0-.38.31-.69.69-.69.38%200%20.69.31.69.69v11.67Zm3.49-.02c-.03.38-.37.66-.75.63a.694.694%200%200%201-.63-.75l1.02-11.63c.03-.38.37-.66.75-.63.38.03.66.37.63.75l-1.02%2011.63Z%22%20style%3D%22stroke-width%3A0%3Bfill%3A%23444%22/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.button-delete-list:hover {
  background-color: #bebebe;
  opacity: 1;
}

div:hover > .button-delete-list {
  display: block;
}

.button-edit {
  background-color: #ffffff00;
  display: none;
  cursor: pointer;
  border-radius: 24px;
  font-size: unset;
  height: 2.25rem;
  align-self: center;
  width: unset;
  margin-left: 0px;
  margin-top: 5px;
  border: none;
}

div:hover > .button-edit {
  display: flex;
}

.button-edit:hover {
  background-color: #e9e9ed;
}

.pencil-icon {
  align-self: center;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.description {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: fit-content;
  resize: block;
  outline: none;
  border: none;
  line-height: 1.8rem;
  margin-bottom: 1.8rem;
}

.description:hover {
  background-color: #f6f8fa;
}

.description:focus {
  background-color: #eeeeee;
}

/* 
The following classes are for the list items.
*/
.list-item {
  display: flex;
  align-items: center;
  color: black;
  font-size: 18px;
  gap: 0px;
  text-overflow: wrap;
  margin: 20px 0px 20px 0;
  width: 100%;
}
.checkbox {
  margin-right: 14px;
}
.list-text {
  flex-grow: 1;
  display: block;
  line-height: 2rem;
  min-height: calc(2rem + 2px);
  padding: 1px 2px 1px 8px;
}
.list-text:hover {
  background-color: #f6f8fa;
}
.list-text-checked {
  flex-grow: 1;
  display: block;
  line-height: 2rem;
  min-height: calc(2rem + 2px);
  padding: 1px 2px 1px 8px;
}
.edit-link {
  color: black;
  font-size: 12px;
  margin: 0px 0 0px 10px;
  text-decoration: underline;
}
.list-input {
  border: 0;
  font-size: 18px;
  padding-left: 8px;
  flex-grow: 1;
}

.list-input:focus {
  background-color: #eeeeee;
  outline: none;
}

.editinput {
  line-height: 1.5em;
  font-size: 18px;
  margin: 0 !important;
  padding: 4px 0 4px 0 !important;
  border-radius: 4px !important;
  border: 1px solid #d8d8d8;
  box-shadow: unset !important;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 480px) {
  .input-container {
    width: auto;
  }
}

.header-container {
  display: flex;
  max-width: 100vw;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: stretch;
}

@media (min-width: 768px) {
  .header-container {
    border: 1px;
    border-color: #d8d8d8;
    border-style: none none solid none;
    align-items: baseline;
  }
}

@media (min-width: 480px) {
  .header-container {
    flex-direction: row;
    padding: 0 0 1.5rem 0;
    align-items: baseline;
  }
}

.main-title {
  display: block;
  min-width: 0;
  white-space: nowrap;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 18px;
  outline: none;
}

.main-title:focus {
  background-color: #eeeeee;
}

#dateText {
  text-wrap: nowrap;
  flex-shrink: 0 0 auto;
}

.sidebar-padding {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.bottom-padding {
  padding-bottom: 1.5rem;
}

.navbar {
  height: 95%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: #e1e0e0 #ffffff00;
}

.nav-item {
  color: #4f4f4f;
  font-size: 16px;
  height: 41px;
  display: flex;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5rem 0 0.5rem 0;
  padding: 8px 10px 8px 10px;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.nav-item:hover {
  background-color: #d0d0d7 !important;
}

.nav-item:active {
  background-color: #d2d2d2 !important;
}

.nav-link {
  padding: 10px 0 10px 0;
}

.nav-title {
  padding: 0 0 0 10px;
}

.sidebar {
  position: absolute;
  left: -100%;
  bottom: 0;
  top: 0;
  background-color: #f6f8fa;
  height: 100vh;
  border: 0.5px;
  border-color: #d8d8d8;
  border-style: none solid none none;
  padding: 3rem 0 0 0;
  width: 280px;
  flex-shrink: 0;
  transition: left 400ms;
  overflow: hidden;
}

.sidebar:active {
  left: 0;
}

@media (min-width: 768px) {
  .sidebar {
    position: relative;
    left: unset;
    right: unset;
    bottom: unset;
  }
}

.todo-input {
  margin: 1rem 0 1em 0;
  padding: 8px 1rem 8px 1rem;
  flex: auto;
  border-radius: 10px;
  border: 1px solid #d8d8d8;
  box-shadow: 0px 2px 4px rgba(60, 64, 67, 0.1),
    0px 4px 12px 4px rgba(60, 64, 67, 0.05);
}

.todo-input:focus {
  outline: none;
  box-shadow: 0px 4px 8px rgba(60, 64, 67, 0.1),
    0px 8px 24px 8px rgba(60, 64, 67, 0.1);
}

.todo-input:hover {
  box-shadow: 0px 4px 8px rgba(60, 64, 67, 0.1),
    0px 8px 24px 8px rgba(60, 64, 67, 0.1);
}

.main-content {
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  flex-grow: 1;
  min-width: 0;
}

.main-content > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

@media (min-width: 768px) {
  .main-content > * {
    max-width: 40rem;
  }
}

@media (min-width: 1580px) {
  .main-content > * {
    max-width: 44rem;
  }
}

.main-content > *:nth-child(2) {
  margin-top: 2rem;
}
