@import 'reset.css';

html{
    font-family: Inter, sans-serif;
    font-size: 18px;
    background-color: white;
}

a{
    text-decoration: none;
}

a:link{
    color: rgb(79, 79, 79);
}

a:visited{
    color: gray;
}

a:hover{
    color: black;
}

::selection{
    background-color: #fffb7d;
}

.external-link::after {
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 28 28" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"/></svg>');
    content: "";
    color: "currentColor";
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    background-size: 100%;
    margin-inline-start: 0.3em;
    margin-inline-end: -0.2em;
    opacity: 0.8;
} 

button{
    font-size: 16px;
    height: 36px;
    width: 80px;
    align-self: center;
}

li{
    color: black;
    font-size: 18px;
    gap: 0px;
    margin: 20px 0px 20px;
    height: 24px;
}

#checkboxes ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin: 0;
}

h2{
    margin: 0;
}

img{
    display: block;
    margin: 0 auto;
}
input{
    line-height: 2em;
    padding: 0px 0 0 10px;
    font-size: 16px;
}

input[type="text"]{
    flex: auto;
}

nav{
    padding: 1.5rem 0 0 0;
}

.checkbox{
    margin-right: 20px;
}

.input-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

@media (min-width: 480px){
    .input-container{
        width: auto;
    }
}

.header-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: baseline;
}

@media (min-width: 768px){
    .header-container{
        border: 0.5px;
        border-color: #d8d8d8;
        border-style: none none solid none;
    }
}

@media (min-width: 480px) { 
    .header-container{
        flex-direction: row;
        padding: 0 0 1.5rem 0;
    }
}

.editinput{
    margin: 0 26px 0;
    line-height: 1.5em;
}

.editlink{
    align-self: center;
    color: black;
    font-size: 12px;
    margin: 0px 0 0px 10px;
    text-decoration: underline;
}

.nav-item{
    margin: 0.5rem 0 0.5rem 0;
}

.nav-item:hover{
    background-color: rgb(210, 210, 210);
}

.root{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    position: absolute;
    left: -100%;
    bottom: 0;
    top: 0;
    background-color: #f6f8fa;
    border: 0.5px;
    border-color: #d8d8d8;
    border-style: none solid none none;
    padding: 1.5rem 1rem 0 1rem;
    min-width: 280px;
    flex-shrink: 0;
    transition: left 400ms;
}

.sidebar:active{
    left: 0;
}

@media (min-width: 768px){
    .sidebar{
        position: relative;
        left: unset;
        right: unset;
        bottom: unset;
    }
}

.main-content{
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    flex-grow: 1;
}

.main-content > *{
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
}

@media (min-width: 768px){
    .main-content > *{
        max-width: 40rem;
    }
}

@media (min-width: 1580px){
    .main-content > *{
        max-width: 48rem;
    }
}


.main-content > *:nth-child(2){
    margin-top: 2rem;
}